{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <title>{% block title %}About Us{% endblock %}</title>

    <section class="position-relative bg-gradient-primary text-white jarallax" data-speed=".2">
        <img src="{{chapter.chapters_cover.url}}" class="jarallax-img" alt="">
        <div class="bg-dark opacity-75 position-absolute start-0 top-0 w-100 h-100"></div>
        <div class="container position-relative z-2 pt-12 pb-12">
            <div class="row pb-9 pb-lg-12 pt-lg-12">
                <div class="col-12 col-xl-10">
                    <h1 class="display-4 mb-3">{{chapter.chapters_name}}</h1>
                    <div class="mt-4">
                        <a class="btn btn-primary" href="{% url 'membership_form' %}" role="button">Join The Chapter</a>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!--divider-->
        <svg class="position-absolute end-0 bottom-0" style="color: var(--bs-body-bg);" fill="currentColor" width="100%" height="120" preserveAspectRatio="none" viewBox="0 0 1440 150">
            <path d="M0,139.588931 C152,152.720009 299.666667,139.401344 443,99.6329343 C658,39.9803202 681,66.1486839 905,90.6287661 C1129,115.108848 1222,59.3955578 1293,37.4478979 C1340.33333,22.8161246 1389.33333,16.1567919 1440,17.4698997 L1440,150 L0,150 L0,139.588931 Z"></path>
            <path d="M0,117.980769 C152,145.786435 299.666667,138.940533 443,97.4430619 C658,35.1968558 697,56.6671048 921,82.2115385 C1145,107.755972 1222,55.4562342 1293,32.5543282 C1340.33333,17.2863909 1389.33333,10.337522 1440,11.7077215 L1440,150 L0,150 L0,117.980769 Z" fill-opacity="0.3"></path>
            <path d="M0,106.034486 C156.666667,132.662839 291.666667,129.406134 405,96.2643713 C575,46.5517277 637,36.0308187 861,62.6436817 C1085,89.2565447 1215,51.1586623 1286,27.2988541 C1333.33333,11.3923153 1384.66667,2.2926973 1440,1.13686838e-13 L1440,150 L0,150 L0,106.034486 Z" fill-opacity="0.3"></path>
        </svg>
    </section>

    <section class="position-relative">
        <div class="container mt-0 py-9 py-lg-11">
            <div class="row mb-7 mb-lg-9">
                <div class="col-lg-10 col-xl-8 mx-auto text-center" data-aos="fade-up" data-aos-duration="700">
                    <h2 class="display-5">Our team</h2>
                    <p>Meet The Leadership Of Liberia Information Students Union {{chapter.chapters_name}}.</p>
                </div>
            </div>

            <div class="row">
                
                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.chairman_pic.url}}" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h5 class="mb-1">{{chapter.chairman_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Chairman</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.co_chairman_pic.url}}" alt="" class="img-fluid">
                    </div>

                    <div>
                        <h5 class="mb-1">{{chapter.co_chairman_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Co-Chairman</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.secretary_pic.url}}" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h5 class="mb-1">{{chapter.secretary_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Secretary</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.financial_secretary_pic.url}}" alt="" class="img-fluid">
                    </div>

                    <div>
                        <h5 class="mb-1">{{chapter.financial_secretary_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Financial Secretary</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.training_director_pic.url}}" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h5 class="mb-1">{{chapter.training_director_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Training director</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.program_director_pic.url}}" alt="" class="img-fluid">
                    </div>

                    <div>
                        <h5 class="mb-1">{{chapter.program_director_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Program Director</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.treasurer_pic.url}}" alt="" class="img-fluid">
                    </div>
                    <div>
                        <h5 class="mb-1">{{chapter.treasure_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Treasure</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.chaplain_pic.url}}" alt="" class="img-fluid">
                    </div>

                    <div>
                        <h5 class="mb-1">{{chapter.chaplain_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Chaplain</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.parliamentarian_pic.url}}" alt="" class="img-fluid">
                    </div>

                    <div>
                        <h5 class="mb-1">{{chapter.parliamentarian}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Parliamentarian</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.reporter_pic.url}}" alt="" class="img-fluid">
                    </div>

                    <div>
                        <h5 class="mb-1">{{chapter.reporter}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Chapter Reporter</p>
                    </div>
                </div>

                <div class="col-lg-3 mb-7 mt-auto text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="700">
                    <div class="position-relative mb-4 overflow-hidden width-18x height-18x mx-auto rounded-circle">
                        <img src="{{chapter.girl_in_ict_pic.url}}" alt="" class="img-fluid">
                    </div>

                    <div>
                        <h5 class="mb-1">{{chapter.girl_in_ict_name}}</h5>
                        <p class="d-block text-body-secondary small mb-3">Director Girl In ICT</p>
                    </div>
                </div>
                        
            </div>    
        </div>
    </section>
{% endblock content %} 