{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
