{% load static %}
    <!--begin:Footer-->
    <footer id="footer" class="bg-dark footer position-relative" data-bs-theme="dark">
        <div class="pb-6">
            <div class="container">
                <div class="row justify-content-md-between align-items-center">
                    <div class="d-flex mb-3 mt-5 mb-md-0 col-sm-6 col-md-4">
                        <!-- Social button -->
                        <a href="#!" class="d-inline-block text-white mb-1 me-2 si rounded-pill si-hover-facebook">
                            <i class="fa-brands fa-facebook fs-6"></i>
                            <i class="fa-brands fa-facebook fs-6"></i>
                        </a>
                        <!-- Social button -->
                        <a href="#!" class="d-inline-block text-white mb-1 me-2 si rounded-pill si-hover-twitter">
                            <i class="fa-brands fa-x-twitter fs-6"></i>
                            <i class="fa-brands fa-x-twitter fs-6"></i>
                        </a>
                        <!-- Social button -->
                        <a href="#!" class="d-inline-block text-white mb-1 me-2 si rounded-pill si-hover-linkedin">
                            <i class="fa-brands fa-linkedin fs-6"></i>
                            <i class="fa-brands fa-linkedin fs-6"></i>
                        </a>
                        <!-- Social button -->
                        <a href="#!" class="d-inline-block text-white mb-1 si rounded-pill si-hover-instagram">
                            <i class="fa-brands fa-instagram fs-6"></i>
                            <i class="fa-brands fa-instagram fs-6"></i>
                        </a>
                    </div>
                    <div class="col-sm-6 mt-5 col-md-4 text-sm-end">
                        <span class="d-block lh-sm small text-white-50">ALL RIGHTS RESERVED ©  LITSU
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--end:Footer-->