{% load static %}
    <header class="header-transparent sticky-fixed">
        
        <nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-link-white">
            <!--Navbar-fixed-background-->
            <div class="navbar-fixed-bg position-absolute"></div>
            <div class="container position-relative z-1">
                <!--begin:logo-->
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'assets/img/loge/login.png' %}" alt="" class="img-fluid navbar-brand-sticky" style="height: 70px; width: 70px;">
                    <img src="{% static 'assets/img/loge/login2.JPG' %}" alt="" class="img-fluid navbar-brand-transparent" style="height: 70px; width: 70px;">
                </a>
                <!--end:logo-->
                <!--begin:navbar-no-collapse-items-->
                <div class="d-flex align-items-center navbar-no-collapse-items order-lg-last">
                <!--Navbar toggler button-->
                <button class="navbar-toggler order-last" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarTheme" aria-controls="mainNavbarTheme" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> <i></i> </span>
                </button>
                <!--Button-->
                <div class="nav-item me-3 ms-lg-3 ms-xl-5 me-lg-0">
                    <a href="#" class="btn btn-success btn-sm">eBooks</a>
                </div>
            </div>
            <!--end:navbar-no-collapse-items-->

            <!--begin:navbar-collapse-->
            <div class="collapse navbar-collapse" id="mainNavbarTheme">
                
                <!--begin:Navbar items-->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'home' %}" role="button">Home</a>
                    </li>

                    <!--begin:landings-->
                    <li class="nav-item dropdown">
                        <a class="nav-link active" href="index.html" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Meet The Chapters
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-start py-0 pe-lg-0">
                            <div class="overflow-hidden rounded-end">
                                <div class="row mx-0">
                                    <div class="col-lg-5 position-relative">
                                        <div class="py-1 py-lg-3 d-lg-flex flex-column">
                                            {% for chapter in chapters %}
                                            <a href="{% url 'chapters' chapter.id %}" class="dropdown-item">{{ chapter.chapters_name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-lg-7 d-none rounded-end overflow-hidden px-0 d-lg-block position-relative bg-no-repeat bg-cover bg-center" style="background-image: url('{% static 'assets/img/icom/abous1.jpg' %}')">
                                        <div class="position-absolute rounded-end w-100 h-100 top-0 start-0 bg-gradient-primary opacity-75"> </div>
                                        <div class="p-4 d-flex flex-column align-items-center text-center justify-content-center h-100 py-5 position-relative text-white">
                                            <h6 class="fs-1 mb-4">Giving you IT peace of mind.</h6>
                                            <p class="mb-5 small">We think of the future and hope for the progress</p>
                                            <a href="" class="btn btn-white btn-lg">LITSU Membership Form</a>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="" role="button">News & Upadtes</a>
                    </li>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Know's Us
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="">About Us</a></li>
                                    <li><a class="dropdown-item" href="">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Leadership
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    
                                    <li><a class="dropdown-item" href=""></a></li>
                                  
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                </ul>
                <!--end:Navbar items-->

                </div>
                <!--end:navbar-collapse-->
            </div>
        </nav>

    </header>